html {
  overflow: scroll;
  height: 100%;
}

body {
  background: rgba(0, 0, 0, 0.00);
}

#hero-container {
  position: relative;
  z-index: -1;
}


/* Navigation */
.navigation {
  border-bottom: thin solid black;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
}

.navigation-header {
  font-size: 24px;
  color: #E1E1E1;
}

.navigation-item {
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
  display: block;
  float: right;
  margin-top: 5px;
  transition: all .5s;
  background: -webkit-linear-gradient(45deg, #FF6948, #48B4FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all .5s;
}

.navigation-item:hover {
  border-bottom: 1px solid -webkit-linear-gradient(45deg, #FF6948, #48B4FF);
 
}



/* Projects */
.project-container {
  height: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.project-item {
  height: 250px;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}

.project-item:hover > .project-item-title {
  display: block;
}

.project-item-title {
  position: absolute;
  display: none;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 20px;
  color: #E1E1E1;
}

.project-item-image {
  width: 100%;
  cursor: pointer;
  box-shadow: 0px;
  transition: all .5s;
}

.project-item-image:hover {
}

.projects-header {
  display: block;
  clear: both;
  float: left;
  width: 100%;
}

.projects-header-title {
  text-align: center;
  margin-bottom: 10px;
  border-bottom: thin solid black;
  padding-bottom: 10px;
  margin-top: 10px;
}



/* Grid Navigation */
.grid-nav-item {
  margin-bottom: 25px;
  height: 150px;
  margin-left: 25px;
  text-align: center;
  border: thin solid black;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  transition: all .2s;
  overflow: hidden;
}

.grid-nav-item:hover {
  transform: scale(1.1);
}

.grid-nav-item:hover > .grid-nav-item-underlay {
  left: -50px;
}

.grid-nav-item-underlay {
  position: absolute;
  background: -webkit-linear-gradient(45deg, #FF6948, #48B4FF);
  transform: skew(25deg);
  height: 300px;
  border: thin solid black;
  z-index: -1;
  width: 150%;
  transition: all .6s;
  left: -200%;
}

.grid-nav-item:hover:after {
  color: black;
}

.grid-nav-wrap {
    margin: 0 auto;
    margin-top: 60px;
    display: block;
}



/* Experience */
.experience-container {
  color: black;
}

.experience-item {
  margin-bottom: 15px;
  border-bottom: thin solid black;
  color: inherit;
}

.experience-item-image {
  width: 100px;
  float: left;
  margin-bottom: 30px;
  margin-top: 10px;
}

.experience-item-title {
  width: 100%;
  text-align: center;
  display: block;
  float: left;
  font-size: 18px;
  color: inherit;
}

.experience-description {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 14px;
  margin-bottom: 0px;
  color: inherit;
}

.experience-item-body {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  color: inherit;
}

.experience-item-head-details {
  float: left;
  color: inherit;
}

.experience-header {
  border-bottom: thin solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: inherit;
}

.experience-item-date {
  font-size: 10px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: inherit;
}


/* About */
.about-container {
  display: flex;
}

.about-header {
  border-bottom: thin solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: inherit;
}

/* Contact */
.contact-container {
  display: flex;
  padding: 0px;
}

.contact-item {
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact-text {
  display: block;
}

.contact-icon:hover {
  color: red;
}

.contact-header {
  border-bottom: thin solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: inherit;
}

/* General */
.dn {
  display: none;
}

.db {
  display: block;
}

.magictime {
  -webkit-animation-duration: .5s !important;
  -moz-animation-duration: .5s !important;
  -o-animation-duration: .5s !important;
  animation-duration: .5s !important;
  }

.back-button {
  border: thin solid black;
  padding: 15px;
  display: block;
  float: left;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .5s;
  clear: both;
}

.back-button:hover {
  background-color: black;
  color: white;
}